<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">GeoIP</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Country:</strong>
      {{#if data.region}}
        {{data.country}}
      {{else}}
        <i>Unknown</i>
      {{/if}}
    </p>

    <p>
      <strong>Region:</strong>
      {{#if data.region}}
        {{data.region}}
      {{else}}
        <i>Unknown</i>
      {{/if}}
    </p>


    <p>
      <strong>City:</strong>
      {{#if data.city}}
        {{data.city}}
      {{else}}
        <i>Unknown</i>
      {{/if}}
    </p>

  </div>
</div>
